@import "../../Variables/Variables.scss";

.loginContainer{
    display: flex;
    justify-content: stretch;
   

    .loginsect1, .loginsect2{
        width: 50vw;
        height: 100vh;
    }
}


.loginsect1{
    padding: 5rem 3rem;

    img{
        width: 10rem;
        cursor: pointer;
    }
    
    .bckgrndimg{
        margin: 18% auto ;
        width: 100%;
    }
}


.loginsect2{
    padding: 10% 100px;
    background-color: $white;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

    h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 3.5rem;
        color: $blueish;
    }
    
    p{
        font-size: 20px;
        margin-bottom: 10%;
        color: #545F7D;

    }
    
    #email, #password{
        display: block;
        padding: 0.75rem;
        margin: 1.25rem 0;
        border: 2px solid $greyish;
        border-radius: 5px;
        width: 25rem;
    }

    #email::placeholder, #password::placeholder{
        font-size: 14px;
        color: $greyish;
    }

    .forgotpassword{
        font-weight: 600;
        font-size: 12px;
        display: block;
        color: $cyanish;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    button{
        background-color: $cyanish;
        padding: 0.75rem 0;
        width: 25rem;
        border: none;
        border-radius: 8px;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    button:hover{
        color: $cyanish;
        background-color: $white;
        border: 2px solid $cyanish;
    }
}


@media screen and (max-width: 1050px){

    .loginsect1{
        img{
            width: 7rem;
        }
    }
    .loginsect2{
        #email, #password, button{
            width: 20rem;
        } 

    }
    
}

@media screen and (max-width: 900px){
    .loginsect1{
        .bckgrndimg{
            margin: 25% auto;
        }

    }
    .loginsect2{
        padding: 10% 70px;
    }
}

@media screen and (max-width: 800px){

    .loginsect2{
        h2{
            font-size:25px;
        }

        p{
            font-size: 15px;
        }
        #email, #password, button{
            max-width: 15rem;
        } 

    }
}

@media screen and (max-width: 650px){
    .loginContainer{
        display: block;
        
        .loginsect1{
            width: 100vw;
            height: 20vh;
            
            img{
                width: 5rem;
            }
            .bckgrndimg{
                display: none;
            }

        }

        .loginsect2{
            width: 100vw;
            height: 70vh;
            text-align: center;
            box-shadow: none;
            padding: 0 40px;

            #email, #password{
                margin: 1.25rem auto;
            }
        }
        

    }

}