@import "../Variables/Variables.scss";

.dashboardcontainer{
    position: relative;

    .sidenavdiv{
        position: absolute;
        left: 0;
        background-color: $white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
        z-index: -1;
    }
}