@import "../../Variables/Variables.scss";

.userdetail-maindiv{
    display: flex;
    justify-content: left;
    align-items:flex-start;
}

.details-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #545F7D;
}

.details-header, .details-header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-header{
    p{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #213F7D;
    }
    button{
        border-radius: 8px;
        padding: 0.5rem 1rem;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0 0.5rem;
        cursor: pointer;
        background-color: #ffffff00;
    }

    .button1{
        border: 1px solid #E4033B;
        color: #E4033B;
    }

    .button1:hover{
        background-color: #E4033B;
        color: $white;
    }

    .button2{
        border: 1px solid $cyanish;
        color: $cyanish;
    }

    .button2:hover{
        background-color: $cyanish;
        color: $white;
    }
}

.username-div{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;

    div{
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

#usertier{
    border-left: 1px solid $greyish;
    border-right: 1px solid $greyish;
}

.user-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        padding: 0 1rem;
        cursor: pointer;
        transition: 1s;
    }
    p:hover{
        color: $cyanish;
        border-bottom: 1px solid $cyanish;   
    }
}

#active-footer{
    color: $cyanish;
    border-bottom: 1px solid $cyanish;
}

.details-section2{
    padding: 1rem;
    font-family: 'Work Sans';
    font-style: normal;

    h4{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #213F7D;
    }

    h5{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #545F7D;

    }

    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #545F7D;
    }

    .details-div{
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        div{
            margin:  1rem;
            width: 8rem;
        }
    }
}