.tablecontainer{
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Work Sans';
    font-style: normal;
    color: #545F7D;
    margin-left: 20%;
    padding: 0 0.5rem;
    position: relative;
    width: 960px;

    th{
        text-align: left;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        padding: 0.5rem;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
        
        img{
            cursor: pointer;
        }
    }
    
    td{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding: 0.25rem;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    }

    .status-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .active, .inactive{
            background-color: rgba(128, 128, 128, 0.137);
            padding: 0.5rem ;
            border-radius: 100px;
        }

        .active{
            color: #39CD62;
        }

        img{
            cursor: pointer;
        }
    }

}


.showFilter{
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.hideFilter{
    display: none;
}

.showViewDetail1, .showViewDetail2, .showViewDetail3{
    display: block;
    position: absolute;
    right: 2rem;
}

.hideViewDetail1, .hideViewDetail2, .hideViewDetail3{
    display: none;
}